__pycache__/
*.py[cod]
*$py.class
*.egg-info
.pytest_cache
.ipynb_checkpoints

thumbs.db
.DS_Store
.idea
ImageNetV2-matched-frequency
ImageNetV2-matched-frequency.tar.gz
.github/workflows
model_checkpoint/